# Test Settings

# Core Nationbuilder Settings (Example for Kristins Sandbox)
NATIONBUILDER_SLUG=ajpnsw
NATIONBUILDER_SITE_SLUG=ajpnsw
NATIONBUILDER_API_TOKEN=[NB API TOKEN]

PORT=3000

# CORS white list (turn on for production sites where the source URL is known)
CORS_WEBSITE_WHITELIST=

# Membership Webhook Route - used to add memberships 

# Must be set to turn on the route - the value is not important
TOKEN_MEMBERSHIP_PAYMENT=12345
# Shared secret set in Raisely
TOKEN_MEMBERSHIP_PAYMENT_SHARED_SECRET=[SECRET]
# Default membership name - note there are some hard coded membership values in the route
TOKEN_MEMBERSHIP_PAYMENT_MEMBERSHIP_NAME=AJP NSW Member

# Membership Subscriptions Route - used for cancelling memberships

# Must be set to turn on the route - the value is not important
TOKEN_MEMBERSHIP_SUBSCRIPTION=12345
# Shared secret set in Raisely
TOKEN_MEMBERSHIP_SUBSCRIPTION_SHARED_SECRET=[SECRET]
# Default membership name - note there are some hard coded membership values in the route
TOKEN_MEMBERSHIP_SUBSCRIPTION_MEMBERSHIP_NAME=AJP NSW Member

# Donations Route

# Must be set to turn on the route - the value is not important
TOKEN_DONATIONS_RAISELY_PAYMENT=12345
# Shared secret set in Raisely
DONATIONS_RAISELY_PAYMENT_SHARED_SECRET=[SECRET]
# Optional setting on how to generate the NB tracking code slug   
DONATIONS_RAISELY_PAYMENT_TRACKING_CODE_TYPE=profile_name_as_slug

# Action Network

# Must be set to turn on the route - the value is not important
TOKEN_PERSON_CREATE_ACTION_NETWORK=12345


